<!doctype html>

<html>
<head>
	<title>GiftHub: Event Created!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/gifthub.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->     

    <style type="text/css">
 
</style>   
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class = "navbar navbar-inverse navbar-fixed-top">
    <div class = "container">
           
            <a href = "/home" class = "navbar-brand">
                        <img height="25" src="images/octocat-large-transparent.png">GiftHub
            </a>
           
            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
            </button>
           
            <div class = "collapse navbar-collapse navHeaderCollapse">  
            <ul class = "nav navbar-nav navbar-right">
           
                    <li><a href = "/home">Home</a></li>
   
                    <li><a href = "/createevent">Create Event</a></li>
                    <li><a href = "/eventcode">Event Code </a></li>
            </ul>
            </div>
           
    </div>
    </div>
    <br>
	<div class="screen">
		<h1 class="headerbox">Event Created</h1>
		<form>
			Direct Link: <input id="direct_link" class="input-sm" type="text" value="{{short_url}}">
		</form>
		<br>
		<form>
			Event Code:  <input class="input-sm" type="text" value="{{id}}" id="eventcode" name="eventcode"/>
		</form>
		<form id="eventcodeform" role="form" method="get" action="/eventpage">
			<br>

			<!-- <button type="submit" class="shareButton" id="newevent" value="{{id}}+{{title}}+{{date}}+{{description}}" name="newevent">Post on Facebook</button> -->
			<div class="fb-share-button" data-href="{{short_url}}" data-width="100" data-type="button_count"></div>

			<button type="submit" class="button" id="newevent" value="{{id}}+{{title}}+{{date}}+{{description}}" name="newevent">Email Code</button>
 
			<button type="submit" class="button" id="newevent" value="{{id}}+{{title}}+{{date}}+{{description}}" name="newevent">Copy code to Clipboard</button>

			<button type="submit" class="submitButton" id="newevent" value="{{id}}+{{title}}+{{date}}+{{description}}" name="newevent">Go to Event!</button>
		</form>
	</div>
	   <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script src = "js/bootstrap.js"></script>	
	    <script src = "/js/shortUrl.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48581523-1', 'gifthub.herokuapp.com');
        ga('send', 'pageview');

      </script>
</body>
</html>
	
